# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Environment variables (VERY important)
.env
.env.local
.env.development
.env.production
.env.test

# Logs
*.log

# macOS
.DS_Store